<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passkeys demo</title>

    <script th:inline="javascript">
        // copy-pasted from spring-security passkeys
        var base64url_default = {
            encode: function (buffer) {
                const base64 = window.btoa(String.fromCharCode(...new Uint8Array(buffer)));
                return base64.replace(/=/g, "").replace(/\+/g, "-").replace(/\//g, "_");
            },
            decode: function (base64url) {
                const base64 = base64url.replace(/-/g, "+").replace(/_/g, "/");
                const binStr = window.atob(base64);
                const bin = new Uint8Array(binStr.length);
                for (let i = 0; i < binStr.length; i++) {
                    bin[i] = binStr.charCodeAt(i);
                }
                return bin.buffer;
            }
        };

        // lib/http.js
        async function post(url, headers, body) {
            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    ...headers
                }
            };
            if (body) {
                options.body = JSON.stringify(body);
            }
            return fetch(url, options);
        }

        var http_default = {post};

        // lib/abort-controller.js
        var holder = {
            controller: new AbortController()
        };

        function newSignal() {
            if (!!holder.controller) {
                holder.controller.abort("Initiating new WebAuthN ceremony, cancelling current ceremony");
            }
            holder.controller = new AbortController();
            return holder.controller.signal;
        }

        var abort_controller_default = {
            newSignal
        };

        // lib/webauthn-core.js
        async function register(headers, contextPath, label) {
            if (!label) {
                throw new Error("Error: Passkey Label is required");
            }
            let options;
            try {
                const optionsResponse = await http_default.post(`${contextPath}/webauthn/register/options`, headers);
                if (!optionsResponse.ok) {
                    throw new Error(`Server responded with HTTP ${optionsResponse.status}`);
                }
                options = await optionsResponse.json();
            } catch (e) {
                throw new Error(`Registration failed. Could not fetch registration options: ${e.message}`, {cause: e});
            }
            const decodedExcludeCredentials = !options.excludeCredentials ? [] : options.excludeCredentials.map((cred) => ({
                ...cred,
                id: base64url_default.decode(cred.id)
            }));
            const decodedOptions = {
                ...options,
                user: {
                    ...options.user,
                    id: base64url_default.decode(options.user.id)
                },
                challenge: base64url_default.decode(options.challenge),
                excludeCredentials: decodedExcludeCredentials
            };
            let credentialsContainer;
            try {
                credentialsContainer = await navigator.credentials.create({
                    publicKey: decodedOptions,
                    signal: abort_controller_default.newSignal()
                });
            } catch (e) {
                throw new Error(`Registration failed. Call to navigator.credentials.create failed: ${e.message}`, {cause: e});
            }
            const {response} = credentialsContainer;
            const credential = {
                id: credentialsContainer.id,
                rawId: base64url_default.encode(credentialsContainer.rawId),
                response: {
                    attestationObject: base64url_default.encode(response.attestationObject),
                    clientDataJSON: base64url_default.encode(response.clientDataJSON),
                    transports: response.getTransports ? response.getTransports() : []
                },
                type: credentialsContainer.type,
                clientExtensionResults: credentialsContainer.getClientExtensionResults(),
                authenticatorAttachment: credentialsContainer.authenticatorAttachment
            };
            const registrationRequest = {
                publicKey: {
                    credential,
                    label
                }
            };
            let verificationJSON;
            try {
                const verificationResp = await http_default.post(`${contextPath}/webauthn/register`, headers, registrationRequest);
                if (!verificationResp.ok) {
                    throw new Error(`HTTP ${verificationResp.status}`);
                }
                verificationJSON = await verificationResp.json();
            } catch (e) {
                throw new Error(`Registration failed. Could not process the registration request: ${e.message}`, {cause: e});
            }
            if (!(verificationJSON && verificationJSON.success)) {
                throw new Error(`Registration failed. Server responded with: ${JSON.stringify(verificationJSON)}`);
            }
        }

        // App-specific code
        document.addEventListener("DOMContentLoaded", () => {
            // Delete
            document.querySelectorAll(`[data-role="delete"]`).forEach(
                button => {
                    button.addEventListener("click", async evt => {
                        const id = evt.target.getAttribute("data-id")
                        const resp = await fetch(`/webauthn/register/${id}`,
                            {
                                method: "DELETE",
                                headers: {
                                    [[${_csrf.getHeaderName()}]]: [[${_csrf.getToken()}]]
                                }
                            });
                        if (!resp.ok && !resp.status === 204) {
                            throw new Error(`DID NOT WORK ${resp.status}}`)
                        }
                        evt.target.parentElement.parentElement.remove()
                    });
                }
            )

            // Add
            document.querySelector("#add-passkey").addEventListener("click", async evt => {
                const passkeyLabel = document.querySelector("#passkey-label").value

                if (!passkeyLabel) {
                    console.error("must set passkey label")
                    return;
                }
                const headers = {
                    [[${_csrf.getHeaderName()}]]: [[${_csrf.getToken()}]]
                };
                try {
                    await register(headers, "", passkeyLabel)
                    console.log("success!")
                    window.location.href = window.location.pathname + "?success"
                } catch (e) {
                    console.error("Could not register passkey")
                    console.error(e)
                }
            });
        })
    </script>
</head>

<body>
<h1>Passkeys demo</h1>
<h2>Existing passkeys</h2>
<table>
    <thead>
    <tr>
        <th>Label</th>
        <th>Sig count</th>
        <th>Created</th>
        <th>Last used</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="passkey :${passkeys}">
        <td th:text="${passkey.getLabel()}"></td>
        <td th:text="${passkey.getSignatureCount()}"></td>
        <td th:text="${#dates.format(passkey.getCreated(), 'yyyy-MM-dd hh:mm')}"></td>
        <td th:text="${#dates.format(passkey.getLastUsed(), 'yyyy-MM-dd hh:mm')}"></td>
        <td>
            <button data-role="delete" th:data-id="${passkey.getCredentialId().toBase64UrlString()}">del</button>
        </td>
    </tr>
    </tbody>
</table>
<h2>Add new passkey</h2>
<label for="passkey-label">Label: </label>
<input type="text" name="passkey-label" id="passkey-label"/>
<button id="add-passkey">Add</button>
<h2>Sign out</h2>
<form action="/logout" method="POST">
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
    <button type="submit">Log Out</button>
</form>
</body>
</html>