<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passkeys demo</title>

    <script type="module">
        import { client } from 'https://cdn.jsdelivr.net/npm/@passwordless-id/webauthn';
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#signin-passkey").addEventListener("click", async evt => {
                if (!window.PublicKeyCredential) { /* Client not capable. Handle error. */
                }

                const optionsResponse = await fetch("/webauthn/authenticate/options",
                    {
                        method: "POST",
                        headers: {
                            "content-type": "application/json"
                        }
                    }).then(r => r.json());

                try {
                    const authenticatorData = await client.authenticate(optionsResponse);
                    const authResponse = await fetch("/login/webauthn",
                        {
                            method: "POST",
                            headers: {
                                "content-type": "application/json"
                            },
                            body: JSON.stringify(authenticatorData)
                        }).then(r => r.json());
                    window.location.href = authResponse.redirectUrl
                } catch (err) {
                    console.error(err);

                }
            });
        })
    </script>
</head>

<body>
<h1>Log in</h1>
<h2>Passkey</h2>
<button id="signin-passkey">Sign in with Passkey</button>
</body>
</html>