<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passkeys demo</title>

    <script th:inline="javascript">
        // copy-pasted from spring-security passkeys
        var base64url_default = {
            encode: function(buffer) {
                const base64 = window.btoa(String.fromCharCode(...new Uint8Array(buffer)));
                return base64.replace(/=/g, "").replace(/\+/g, "-").replace(/\//g, "_");
            },
            decode: function(base64url) {
                const base64 = base64url.replace(/-/g, "+").replace(/_/g, "/");
                const binStr = window.atob(base64);
                const bin = new Uint8Array(binStr.length);
                for (let i = 0; i < binStr.length; i++) {
                    bin[i] = binStr.charCodeAt(i);
                }
                return bin.buffer;
            }
        };

        // lib/http.js
        async function post(url, headers, body) {
            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    ...headers
                }
            };
            if (body) {
                options.body = JSON.stringify(body);
            }
            return fetch(url, options);
        }
        var http_default = { post };

        // lib/abort-controller.js
        var holder = {
            controller: new AbortController()
        };
        function newSignal() {
            if (!!holder.controller) {
                holder.controller.abort("Initiating new WebAuthN ceremony, cancelling current ceremony");
            }
            holder.controller = new AbortController();
            return holder.controller.signal;
        }
        var abort_controller_default = {
            newSignal
        };

        // lib/webauthn-core.js
        async function authenticate(headers, contextPath, useConditionalMediation) {
            let options;
            try {
                const optionsResponse = await http_default.post(`${contextPath}/webauthn/authenticate/options`, headers);
                if (!optionsResponse.ok) {
                    throw new Error(`HTTP ${optionsResponse.status}`);
                }
                options = await optionsResponse.json();
            } catch (err) {
                throw new Error(`Authentication failed. Could not fetch authentication options: ${err.message}`, { cause: err });
            }

            // FIXME: Use https://www.w3.org/TR/webauthn-3/#sctn-parseRequestOptionsFromJSON
            const decodedAllowCredentials = !options.allowCredentials
                ? []
                : options.allowCredentials.map((cred) => ({
                    ...cred,
                    id: base64url_default.decode(cred.id),
                }));
            const decodedOptions = {
                ...options,
                allowCredentials: decodedAllowCredentials,
                challenge: base64url_default.decode(options.challenge),
            };

            const credentialOptions = {
                publicKey: decodedOptions,
                signal: abort_controller_default.newSignal()
            };
            if (useConditionalMediation) {
                credentialOptions.mediation = "conditional";
            }
            let cred;
            try {
                cred = await navigator.credentials.get(credentialOptions);
            } catch (err) {
                throw new Error(`Authentication failed. Call to navigator.credentials.get failed: ${err.message}`, { cause: err });
            }
            const { response, type: credType } = cred;
            let userHandle;
            if (response.userHandle) {
                userHandle = base64url_default.encode(response.userHandle);
            }
            const body = {
                id: cred.id,
                rawId: base64url_default.encode(cred.rawId),
                response: {
                    authenticatorData: base64url_default.encode(response.authenticatorData),
                    clientDataJSON: base64url_default.encode(response.clientDataJSON),
                    signature: base64url_default.encode(response.signature),
                    userHandle
                },
                credType,
                clientExtensionResults: cred.getClientExtensionResults(),
                authenticatorAttachment: cred.authenticatorAttachment
            };
            let authenticationResponse;
            try {
                const authenticationCallResponse = await http_default.post(`${contextPath}/login/webauthn`, headers, body);
                if (!authenticationCallResponse.ok) {
                    throw new Error(`HTTP ${authenticationCallResponse.status}`);
                }
                authenticationResponse = await authenticationCallResponse.json();
            } catch (err) {
                throw new Error(`Authentication failed. Could not process the authentication request: ${err.message}`, {
                    cause: err
                });
            }
            if (!(authenticationResponse && authenticationResponse.authenticated && authenticationResponse.redirectUrl)) {
                throw new Error(
                    `Authentication failed. Expected {"authenticated": true, "redirectUrl": "..."}, server responded with: ${JSON.stringify(authenticationResponse)}`
                );
            }
            return authenticationResponse.redirectUrl;
        }

        // App-specific code
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#signin-passkey").addEventListener("click", async evt => {
                const headers = {
                    [[${_csrf.getHeaderName()}]]: [[${_csrf.getToken()}]]
                };
                try {
                    const result = await authenticate(headers, "", false)
                    console.log("success!")
                    window.location.href = result
                } catch (e) {
                    console.error("Could not register passkey")
                    console.error(e)
                }
            });
        })
    </script>
</head>

<body>
<h1>Log in</h1>
<h2>Username / password</h2>
<form action="/login" method="POST">
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
    <label for="username">Username</label>
    <input type="text" name="username" id="username"/>
    <br>
    <label for="password">Password</label>
    <input type="text" name="password" id="password"/>
    <button type="submit">Log in</button>
</form>
<h2>Passkey</h2>
<button id="signin-passkey">Sign in with Passkey</button>
</body>
</html>